# Environment Configuration Template
# Used for EC2, ECS Fargate, Lambda, and Local Dev

PORT=3000
MONGODB_URI=mongodb://localhost:27017/malpe_auction
JWT_SECRET=malpe_harbor_super_secret_key_2026
SOCKET_PATH=/socket.io
NODE_ENV=development
