# Dependencies
node_modules/
**/node_modules/

# Production builds & Angular cache
dist/
**/dist/
.angular/
**/.angular/

# Logs & Environment
*.log
npm-debug.log*
.env

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
